{% extends 'base_bootstrap.html' %}
{% load static %} <!-- If using static files -->
{% block head %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="{% static 'home/css/style_wide.css' %}">
    <script src="{% static '/home/js/theme.js' %}"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

{% endblock %}
{% block navbar %}
<nav class="navbar fixed-top navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="{% url 'meds:search-index' %}">PharmaLeb</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:history.go(-1)">Back</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'meds:search-index' %}">Search</a>
                </li>
                <!-- Add more nav-items here for each of your urls.py paths -->
            </ul>
            {% if user.is_authenticated %}
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'meds:favorite-drugs' %}">Bookmarks</a></li>
            <li><button class="dropdown-item" onclick="toggleTheme()">Theme</button></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
            </li>
            </ul>
            {% else %}
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:signup' %}">Sign-up</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            </ul>

            {% endif %}
        </div>
</nav>
{% endblock %}
